html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  background-color: #79756f;
  padding: .5em .75em;
  color: #fff;
  font-family: 'Bevan', cursive;
  border-width: 1px;
  border-color: #595652;

  margin: 0px;
}

ol li {
  display: inline-block;
  background-color: #713837;
  padding: .6em;
  color: #fff;
  font-family: sans-serif;
  border-radius: .3em

  margin-bottom: .3em;
}
