html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  font-family: "Bevan", cursive;
  text-align: center;
  margin-top: 0;
}

header {
  background-color: #79756f;
  padding: .5em .75em;

  border-top: 2px solid #595652;
  border-bottom: 2px solid #595652;
}

ol li {
  display: inline-block;
  background-color: #713837;
  padding: .6em;
  color: #fff;
  font-family: sans-serif;
  border-radius: .3em;
  margin: .3em;
}

body {
  margin: 0;
}
